@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}

section {
  background-color: #141414;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  & .container {
    & .perfil {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 1rem;
      background-color: #1f1f1f;
      border-radius: 2rem;
      color: white;
      padding: 2rem 5rem;

      & img {
        border-radius: 50%;
        width: 20rem;
        
      }
    }

    & .local {
      color: #a3c435;
      font-weight: 700;
    }

    & .redes-sociais {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      align-items: center;
      font-weight: 700;
    }
    
    & .redes-sociais a {
      width: 100%;
      border-radius: 0.5rem;
      text-decoration: none;
      background-color: #333333;
      padding: 1rem 6rem;
      color: white;
      text-align: center;

      &:hover {
        background-color: #C4F82A;
        color: black;
      }

    }
  }
}
